.titleWrapper {
  display: flex;
  align-items: center;
}

.buttonColor {
  color: var(--bg-base-purple);
}

.cardActions {
  margin-left: auto;
}

.buttonTextWrap {
  display: flex;
  align-items: center;
  padding-inline-start: var(--mini) !important;
  padding-inline-end: var(--small) !important;
}

.buttonWrapContainer {
  display: flex;
}

.dropDown,
.inputTags {
  margin-block-end: var(--small);
}

.titleWrapper {
  display: flex;
  align-items: center;
}

.titleText {
  font-size: var(--font-medium);
  font-weight: var(--font-weight-600);
  color: var(--dark-blue);
  margin-inline-end: var(--margin-mini);
  padding-block-end: var(--padding-small);
}

.customerCount {
  font-size: var(--font-extra-medium);
  font-weight: var(--font-weight-500);
  color: var(--dark-gray);
}
