.container {
  padding: var(--padding-small);
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 35rem;
}

.lineBreak {
  border: 0.5px solid var(--dark-gray);
}

.footerWrap {
  margin-block-start: var(--small);
}
